<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (applicationUser) {
      <div>
        <h2 data-cy="applicationUserDetailsHeading">
          <span jhiTranslate="infocare2App.applicationUser.detail.title">Application User</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ applicationUser.id }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ applicationUser.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.location">Location</span></dt>
          <dd>
            <span>{{ applicationUser.location }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.avatar">Avatar</span></dt>
          <dd>
            <span>{{ applicationUser.avatar }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.notes">Notes</span></dt>
          <dd>
            <span>{{ applicationUser.notes }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.user">User</span></dt>
          <dd>
            <span>{{ applicationUser.user?.id }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.applicationUser.ticket">Ticket</span></dt>
          <dd>
            @for (ticket of applicationUser.tickets; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
