/* ==========================================================================
Main page styles
========================================================================== */

.neumorphic-dashboard {
  padding: 20px;
  background-color: #e0e5ec;
  /* Arrière-plan typique du neumorphisme, à ajuster selon votre thème Morph */

  .neumorphic-block {
    background: #ffffff;
    /* Couleur d'arrière-plan du bloc */
    border-radius: 15px;
    /* Rayon de bordure pour l'effet arrondi */
    box-shadow:
      8px 8px 15px rgba(163, 177, 198, 0.6),
      /* Ombre extérieure foncée */ -8px -8px 15px rgba(255, 255, 255, 0.5);
    /* Ombre extérieure claire */
    padding: 20px;
    /* Espace intérieur du bloc */
    margin: 20px 0;
    /* Espace extérieur du bloc */

    .neumorphic-title {
      font-size: 1.5em;
      /* Taille du texte du titre */
      color: #333;
      /* Couleur du texte du titre */
      margin-bottom: 10px;
      /* Espace après le titre */
      font-weight: bold;
      /* Gras pour le titre */
    }

    .neumorphic-content {
      color: #333;
      display: flex;
      justify-content: space-around;
      padding-top: 3rem;

      .card {
        width: 24%;

        .button-footer {
          border-radius: 6px;
          box-shadow: none;
        }
      }

      p {
        margin-bottom: 10px;
      }

      .statusTicket {
        width: 7rem;
        margin-left: 1rem;
      }

      .ticket-label {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 2rem;
      }

      .card-footer {
        border-top: solid 1px #ced7e3;
      }
    }
  }

  #article-graph {
    display: flex;
    justify-content: space-between;

    .neumorphic-block-graph {
      background: #ffffff;
      border-radius: 15px;
      box-shadow:
        8px 8px 15px rgba(163, 177, 198, 0.6),
        -8px -8px 15px rgba(255, 255, 255, 0.5);
      padding: 20px 0 20px 0;
      width: 24%;
    }

    .graph {
      text-align: center;
    }
  }
}
