<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (status) {
      <div>
        <h2 data-cy="statusDetailsHeading"><span jhiTranslate="infocare2App.status.detail.title">Status</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="infocare2App.status.name">Name</span></dt>
          <dd>
            <span>{{ status.name }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.status.statusCode">Status Code</span></dt>
          <dd>
            <span>{{ status.statusCode }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.status.description">Description</span></dt>
          <dd>
            <span>{{ status.description }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.status.colorCode">Color Code</span></dt>
          <dd>
            <span>{{ status.colorCode }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.status.nextPossibleStatus">Next Possible Status</span></dt>
          <dd>
            <span>{{ status.nextPossibleStatus }}</span>
          </dd>
          <dt><span jhiTranslate="infocare2App.status.isFinal">Is Final</span></dt>
          <dd>
            <span>{{ status.isFinal }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button
          type="button"
          [routerLink]="['/status', status.id, 'edit']"
          class="btn btn-primary"
          *jhiHasAnyAuthority="'ROLE_ADMIN,ROLE_USER'"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
